#score {
  text-align: center;
}

#game {
    width: 600px;
    height: 300px;
    border: 2px solid rgb(48, 8, 8);
}

#spider {
    height: 75px;
    width: 75px;
    position: relative;
    top: 225px;
    background-color: aqua;
}
